:root { 
--gray_50_01:#f8f8f8; 
--gray_900_8e:#1414148e; 
--gray_800_01:#454745; 
--deep_purple_600:#4f3cc9; 
--deep_purple_900_56:#231d9a56; 
--green_700:#279044; 
--green_300_19:#91ba8319; 
--blue_200_01:#a4d1f9; 
--gray_900_c6:#230326c6; 
--yellow_A400:#ffe900; 
--indigo_50_01:#e4ecf9; 
--indigo_50_02:#eceef9; 
--blue_gray_900_02:#333333; 
--blue_gray_900_01:#2d2d2d; 
--indigo_800_00:#3f367900; 
--blue_gray_900:#262b35; 
--gray_900_0f:#1414140f; 
--red_500_33:#ff3f3f33; 
--gray_50_99:#f8f8f899; 
--gray_400:#cacaca; 
--blue_900:#013499; 
--blue_gray_100:#d6dae2; 
--purple_400_e4:#9743bfe4; 
--gray_800:#4a4a4a; 
--black_900_0f:#0000000f; 
--black_900_0c:#0000000c; 
--gray_900_1e:#1a1a1a1e; 
--indigo_A700:#3047ec; 
--black_900_19:#00000019; 
--gray_700_01:#585858; 
--blue_gray_50:#f1f1f1; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#d9d9d9; 
--gray_50:#f9fbff; 
--red_50:#fff4ef; 
--blue_gray_200_01:#c0c7d0; 
--light_green_500:#95cf48; 
--gray_500_01:#8f9195; 
--purple_800:#6d2f8a; 
--yellow_100:#fff3d0; 
--blue_gray_200:#bac1ce; 
--gray_500:#a6a5a5; 
--amber_400:#ffc421; 
--gray_900:#141414; 
--amber_300_01:#f8d24a; 
--gray_100:#f5f5f5; 
--gray_50_a2:#f8f8f8a2; 
--red_600:#e04243; 
--indigo_800_e4:#3f3679e4; 
--gray_400_19:#c6c6c619; 
--deep_orange_300:#ff8b6a; 
--purple_900:#4c1061; 
--blue_gray_700:#424c5d; 
--red_A700:#ff0000; 
--gray_600:#737376; 
--orange_A200:#f79a45; 
--blue_gray_300:#9ea8ba; 
--red_50_02:#fff3ef; 
--orange_A200_01:#f8ad43; 
--red_50_01:#fff3f0; 
--amber_300:#ffc85f; 
--gray_200:#ebebeb; 
--blue_50:#e5eeff; 
--indigo_400:#5564d7; 
--gray_400_01:#b8b8b8; 
--gray_100_01:#f5f4ef; 
--blue_gray_400_02:#74839d; 
--blue_gray_400_01:#888888; 
--white_A700:#ffffff; 
--red_500_01:#ff3944; 
--deep_orange_50:#ffebe5; 
--deep_purple_900:#231d9a; 
--blue_gray_900_ad:#2d2d2dad; 
--red_500:#fe4c40; 
--green_800:#189304; 
--teal_200:#8dbad3; 
--black_900_23:#00000023; 
--black_900:#000000; 
--deep_purple_400_e1:#8d45afe1; 
--light_green_700:#619d46; 
--blue_gray_800:#36414f; 
--blue_50_02:#ecf5fe; 
--blue_50_01:#d9ecfd; 
--black_900_28:#00000028; 
--blue_50_03:#e6f1ff; 
--purple_600:#912daa; 
--gray_900_02:#0d1624; 
--gray_700:#555f68; 
--gray_600_01:#737373; 
--blue_gray_400:#828fa2; 
--indigo_50:#e2e8ed; 
--gray_900_00:#16021b00; 
--gray_900_01:#1c1c1c; 
--blue_gray_900_03:#2e363a; 
--gray_300:#e2e2e2; 
--blue_gray_300_01:#7ea8c4; 
--white_A700_00:#ffffff00; 
--indigo_100:#bbcaea; 
--black_900_33:#00000033; 
--white_A700_01:#fdfdfd; 
--blue_200:#a1d2ff; 
}